<body>

<h1 class="title">Current Weather Data - Mars</h1>

<p class="temp">Highest Temperature{{hiTemp}}</p>
<p class="temp">Lowest Temperature{{loTemp}}</p>

<p class="description">In this challenge I have used express, bodyparser, node-fetch & express handle-bars. Using these dependancies with InSight: Mars Weather Service API I have obtained Mars highest & lowest temperature and displayed this on the front-end</p>
</body>